* {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

html, body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

li {
  margin: 0.5rem;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hide-display {
  display: none;
}

.app-link {
  cursor: pointer;
}

.cart-page-profile-link {
  margin: auto 0.5rem;
}

.react-icon {
  margin-right: 0.75rem;
}


.top-bar-dark {
  /* border-image:linear-gradient(90deg,transparent,#90cdf4, transparent) 0 0 1 0;
  border-style: solid;
  border-width: 2px; */
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.top-bar-light {
  /* border-image:linear-gradient(90deg,transparent,#3182ce, transparent) 0 0 1 0;
  border-style: solid;
  border-width: 2px; */
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.product {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.order {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.order-item {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.footer {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.profile {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.user {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.address-item {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.address-item:focus {
  border: 1px solid red;
}

.button {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24), 0 1px 4px rgba(0, 0, 0, 0.48);
}

.breadcrumb {
  border-image:linear-gradient(90deg,#90cdf4, transparent, transparent) 0 0 1 0;
  border-style: solid;
  border-width: 2px;
}
.breadcrumb-current {
  border-image:linear-gradient(90deg, transparent, #90cdf4, transparent) 0 0 1 0;
  border-style: solid;
  border-width: 2px;
}




/* React Slick Carousel settings*/
.carousel-light {
  margin: 3vh auto;
  width: 80%;
  border-radius: 2px;
  /* border: 1px solid #3182ce; */
}

.carousel-light .slick-arrow:before {
  color: #3182ce !important;
}

.carousel-light .slick-arrow:hover:before {
  color: #3182ce !important;

}

.carousel-light .slick-dots li.slick-active button:before {
  color: #3182ce !important;
}


.carousel-dark {
  margin: 3vh auto;
  width: 80%;
  border-radius: 2px;
  /* border: 1px solid #90cdf4; */
}

.carousel-dark .slick-arrow:before {
  color: #90cdf4 !important;
}

.carousel-dark .slick-arrow:hover:before {
  color: #90cdf4 !important;

}

.carousel-dark .slick-dots li.slick-active button:before {
  color: #90cdf4 !important;
}


.carousel-container {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}



/* Chakra */

.chakra-heading {
  margin-top: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.chakra-button {
  margin: 0.5rem 0;
  max-width: 256px;
}

.chakra-numberinput {
  margin: 0.5rem 0;
  max-width: 96px;
}

.chakra-text {
  margin: auto 0.15rem;
}

.total-cart .chakra-heading {
  margin-top: 0.25rem;
}





















/* Users */
/* 
.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 50%;
  align-self: center;
  border-radius: 3px;
  margin: 2rem;
  padding: 2rem;
}

 */




/* Orders */

/* .order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 80%;
  align-self: center;
  border-radius: 3px;
} */

/* .order-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin: 2rem;
} */

/* .order-status {
  margin-top: 1rem;
  margin-bottom: 1rem;
} */

/* .order-price {
  margin-top: 1rem;
} */

/* .order-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 80%;
  align-self: center;
  border-radius: 3px;
} */


/* .box-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 80%;
  align-self: center;
  border-radius: 3px;
} */

/* .box-center {
  display: flex;
  margin: 1rem;
  width: 80%; 
  border-radius: 3px;
  flex-direction: column;
  padding: 0; 
  align-self: center;
} */

/* .center {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
} */

/* .toggle-color-theme-button {
  cursor: pointer;
  margin-right: 0.25rem;
} */



/* .loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
} */

/* .toggle-color-theme-icon {
 margin-left: 0.5rem;
 margin-bottom: 0.25rem;
} */
















/* Navbar */

/* .top-bar {
  display: flex;
  font-size: 1.25rem;
  padding: 0.25rem 0;
  border-bottom: 1px solid #076ae1;
  justify-content: space-between;
  align-items: center;
} */

/* .top-bar span{
  text-decoration: none;
} */

/* .nav-bar span {
  margin: auto 0.5rem;
} */

/* .navbar-right span {
  margin: auto 0.2rem;
} */

/* .top-bar span:hover {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.top-bar p:hover {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
} */


/* .navbar-logo {
  width: 32px;
} */







/* Products */

/* .product-image-preview {
  display: inline-block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  margin: 2rem;
} */

/* .product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  width: 80%;
  align-self: center;
  border-radius: 3px;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin: 2rem;
} */

/* .product-price {
  margin-top: 1rem;
  margin-bottom: 1rem;
} */

/* .product-stock {
  margin-top: 1rem;
} */

/* .product-quantity {
  margin-bottom: 1rem;
} */





/* Cart */

/* .total-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
 */




/* Profile */

/* .profile {
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  width: 50%;
  border-radius: 3px;
  padding: 1rem;
} */

/* .profile-box {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  justify-content: flex-start;
  text-align: left;
} */

/* .profile-text {
  margin: 0 !important;
  margin-top: 0.5rem !important;
  margin-left: 0.5rem !important;
} */

/* .profile-text-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0;
} */

/* .profile-avatar {
  margin-right: 0;
  padding: 0;
} */

/* .profile-name {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
} */
/* 
.profile-page-avatar {
  margin: 0 auto;
} */

/* .profile-cart {
  display: flex;
  margin-right: 0.4rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
} */


/* .orders-page-profile-link {
  margin: auto 0.5rem;
} */