* {
  font-family: 'Lato', sans-serif;
}

.App-light {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: #ffffff;
  opacity: 1;
  background-size: 4px 4px;
  background-image: repeating-linear-gradient(45deg, #E2E8F0 0, #E2E8F0 0.4px, #ffffff 0, #ffffff 50%);
}

.App-dark {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: #2D3748;
  opacity: 1;
  background-size: 4px 4px;
  background-image: repeating-linear-gradient(45deg, #1A202C 0, #1A202C 0.4px, #2D3748 0, #2D3748 50%);

}

html, body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

li {
  margin: 0.5rem;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hide-display {
  display: none;
}

.app-link {
  cursor: pointer;
}

.cart-page-profile-link {
  margin: auto 0.5rem;
}

.react-icon {
  margin-right: 0.75rem;
}

.react-stars {
  margin-bottom: 0rem;

}

.react-stars-edit {
  align-items: center;
}


.product {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.review {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.order {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.order-item {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}



.profile {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.user {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.address-item {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.address-item:focus {
  border: 1px solid red;
}

.button {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24), 0 1px 4px rgba(0, 0, 0, 0.48);
}

.breadcrumb {
  border-image:linear-gradient(90deg,#90cdf4, transparent, transparent) 0 0 1 0;
  border-style: solid;
  border-width: 2px;
}
.breadcrumb-current {
  border-image:linear-gradient(90deg, transparent, #90cdf4, transparent) 0 0 1 0;
  border-style: solid;
  border-width: 2px;
}




/* React Slick Carousel settings*/
.carousel-light {
  margin: 3vh auto;
  width: 80%;
  border-radius: 2px;
  /* border: 1px solid #3182ce; */
}

.carousel-light .slick-arrow:before {
  color: #3182ce !important;
}

.carousel-light .slick-arrow:hover:before {
  color: #3182ce !important;

}

.carousel-light .slick-dots li.slick-active button:before {
  color: #3182ce !important;
}


.carousel-dark {
  margin: 3vh auto;
  width: 80%;
  border-radius: 2px;
  /* border: 1px solid #90cdf4; */
}

.carousel-dark .slick-arrow:before {
  color: #90cdf4 !important;
}

.carousel-dark .slick-arrow:hover:before {
  color: #90cdf4 !important;

}

.carousel-dark .slick-dots li.slick-active button:before {
  color: #90cdf4 !important;
}


.carousel-container {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}



/* Chakra */

.chakra-heading {
  margin-top: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.chakra-button {
  margin: 0.5rem 0;
  max-width: 256px;
}

.chakra-numberinput {
  margin: 0.5rem 0;
  max-width: 96px;
}

.chakra-text {
  margin: auto 0.15rem;
}

.total-cart .chakra-heading {
  margin-top: 0.25rem;
}






.footer-dark {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.36), 0 1px 4px rgba(0, 0, 0, 0.48);
  background-color: #2D3748;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #ffffff, #2D3748), repeating-radial-gradient(circle at center center, #ffffff, #ffffff, 40px, transparent 80px, transparent 40px);
  background-blend-mode: multiply;
}


.footer-light {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24), 0 1px 4px rgba(0, 0, 0, 0.36);
} 




.top-bar-dark {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.36), 0 1px 4px rgba(0, 0, 0, 0.48);
  background-color: #2D3748;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #ffffff, #2D3748), repeating-radial-gradient(circle at center center, #ffffff, #ffffff, 40px, transparent 80px, transparent 40px);
  background-blend-mode: multiply;
}

.top-bar-light {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

} 



