.App {
  text-align: center;
}

ul {
  list-style-type: none;
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

li {
  margin: 0.5rem;
}

.top-bar {
  display: flex;
  font-size: 1.25rem;
  padding: 0.25rem;
  border-bottom: 1px solid #076ae1;
  justify-content: space-between;
}

.top-bar span{
  margin: auto 0.5rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.top-bar span:hover {
  
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.top-bar p:hover {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-logout {
  cursor: pointer;
}

.product-image-preview {
  display: inline-block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  margin: 2rem;
}
.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  /* border: 1px solid #1976d2; */
  width: 80%;
  align-self: center;
  border-radius: 3px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  /* border: 1px solid #1976d2; */
  width: 50%;
  align-self: center;
  border-radius: 3px;
  margin: 2rem;
  padding: 2rem;

}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin: 2rem;
}

.product-price {
  margin-top: 1rem;
}

.product-stock {
  margin-top: 1rem;
}

.hide-display {
  display: none;
}

.box-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  /* border: 1px solid #1976d2; */
  width: 80%;
  align-self: center;
  border-radius: 3px;
}

.box-center {
  display: flex;
  margin: 1rem;
  /* border: 1px solid #1976d2; */
  width: 80%; 
  border-radius: 3px;
  flex-direction: column;
  padding: 0; 
  align-self: center;
}

.center {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.total-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  
}
.total-cart .chakra-heading {
  margin-top: 0.25rem;

}

.toggle-color-theme-button {
  cursor: pointer;
  margin-right: 0.25rem;
}






/* Chakra */

.chakra-heading {
  margin-top: 1.5rem;
}

.chakra-button {
  margin: 0.5rem 0;
  max-width: 256px;
}

.chakra-numberinput {
  margin: 0.5rem 0;
  max-width: 96px;
}

